<div class="col-md-3 offset-md-2">
<h4> Add Student </h4>
<form (ngSubmit) = "onSubmit()">
 
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id = "name"
            [(ngModel)] = "student.name" name = "name">
    </div>
    <div class="form-group">
        <label>Surname</label>
        <input type="text" class="form-control" id = "surname"
            [(ngModel)] = "student.surname" name = "surname">
    </div>
    <div class="form-group">
        <label>Grade</label>
        <input type="text" class="form-control" id = "grade"
            [(ngModel)] = "student.grade" name = "grade">
    </div>
    <div class="form-group">
        <label>Class</label>
        <input type="text" class="form-control" id="clas"
            [(ngModel)] = "student.clas" name = "clas">
    </div>
    <button class = "btn btn-success" type = "submit"> Submit </button>
</form>
</div>